@{
    ViewData["Title"] = "Index";
}

<h1>Database Samples</h1>

<h2>See how .NET Core can work with different databases.</h2>
<ul>
    <li>Try out <a asp-controller="Postgres" asp-action="Index">PostgresSQL</a></li>
    <li>Try out <a asp-controller="Cosmos" asp-action="Index">Cosmos DB</a></li>
    <li>Try some <a asp-controller="Caching" asp-action="Index">Caching</a></li>
</ul>
