@model DatabaseSampler.Application.ViewModels.PostcodeLookupViewModel

@{
    ViewData["Title"] = "Caching";
}

<h1>Caching</h1>

<h2>Play around with caching.</h2>

<p>TODO: Load a postcode from postcodes.io</p>
<p>TODO: Cache and return a postcode from postcodes.io</p>

<form method="post">
    <div class="input-group">
        <label asp-for="Postcode">Postcode</label>
        <input type="text" class="form-control" asp-for="Postcode" placeholder="Additional Info" />
    </div>
    @if (Model.ElapsedTimeForLookup.HasValue)
    {
        <div class="form-group">
            <p>
                Time to lookup postcode: @($"{Model.ElapsedTimeForLookup.Value.TotalMilliseconds:#0.000}ms")
            </p>
        </div>
    }
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-sm" asp-action="LookupPostcode">Lookup postcode</button>
    <button type="submit" class="btn btn-primary btn-sm" asp-action="LookupPostcodeWithCaching">Lookup with caching</button>
</div>
</form>
